<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a id="header" href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <nav>
            {% if page.url != "/" %}
              <a href="/">Home</a>
            {% endif %}
            {% if page.url != "/about.html" %}
              <a href="/about">About</a>
            {% endif %}
        </nav>

        <ul class="social-links">
          <li>
            <a href="https://github.com/JWLangford" target="_blank" aria-label="GitHub">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jessewlangford/" target="_blank" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/users/8101284/j-langford" target="_blank" aria-label="Stack Overflow">
              <i class="fab fa-stack-overflow"></i>
            </a>
          </li>
          <li>
            <a href="mailto:mail@jesselangford.dev" target="_blank" aria-label="Email">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="https://jesse-94998.medium.com/" target="_blank" aria-label="Medium">
              <i class="fab fa-medium"></i>
            </a>
          </li>
        </ul>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
